.post-form {
  input[type="text"] {
    width: 100%;
    background: #dfdfdf;
    color: black;
    border-radius: 10px;
    border: 1px solid #8e8e8e;
    padding: 20px;
    font-size: 1rem;

    &:focus {
      box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
    }
  }
}

.please-login {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 10px;
  background: $color-4;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  transition: 0.2s, transform 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.please-login:hover {
  background: $color-4;
  transform: translateX(3px);
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.label-img-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.file-input-custom {
  display: block;
  margin: 0 auto;
  background: #dfdfdf;
  border-radius: 10px;
  border: 1px solid #8e8e8e;
  padding: 10px;
  cursor: pointer;
  width: 60%;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}


.post-form textarea {
  width: 100% !important;
  background: #dfdfdf !important;
  color: black !important;
  border-radius: 10px !important;
  border: 1px solid #8e8e8e !important;
  padding: 20px !important;
  font-size: 1rem !important;
}


.btn-send {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cancel,
.send {
  margin-top: 5px;
  padding: 5px 30px;
  border-radius: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 25%;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 50%;
    
  }
}

.cancel:hover,
.send:hover {
  background: $color-4;
}
