.artiste-artiste-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid $color-2;
}

.follow-handler-search {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.follow-handler-search button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  min-width: unset;
  margin-right: 0;

  img.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    box-shadow: none;
    border-radius: 0;
  }

  &:hover {
    color: $color-3;
    transform: translateX(3px);
  }
}

.artiste-artiste-left {
  margin-right: 20px;
}

.artiste-artiste-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.artiste-artiste-right {
  display: flex;
  flex-direction: column;
}

.artiste-artiste-right h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  position: relative;
  display: inline-block;
  padding: 30px;
}

@media (min-width: 930px) {
  .artiste-container {
    width: 50%;
    margin: 0 auto;
  }
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (min-width: 930px) {
  .search-container {
    display: flex;
    justify-content: center;
  }

  .search-bar {
    width: 50%;
  }
}

.artiste-user-details {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid $color-2;

  .artiste-data-artist {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-2;
  }

  .bullet {
    margin: 0 8px;
  }
}

.toggle-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.toggle-icon.rotated {
  transform: rotate(180deg);
}

.toggle-icon.hidden {
  opacity: 0;
  pointer-events: none;
}

.artiste-artworks-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.artiste-artwork-thumbnail {
  width: calc((100% - 10px) / 3);
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 930px) {
  .artiste-user-details {
    width: 50%;
    margin: 0 auto;
  }

  .artiste-artworks-container {
    width: 100%;
  }
}

.message-button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 30%;
  text-align: center;
}

.message-button:hover {
  background-color: $color-4;
}
