.contest-card {
  padding: 20px;
  border-bottom: 2px solid #bbbbbb;
  margin-bottom: 50px;
}

.contest-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.contest-dates {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 20px;
  margin-left: 50px;
  @media screen and (max-width: 930px) {
    max-width: 70vw;
  }
}

.contest-description {
  font-size: 1em;
  margin-bottom: 10px;
}

.artwork-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;

  @media screen and (max-width: 930px) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.artwork-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  z-index: 1000;
  transform: translateX(-70px);

  @media screen and (max-width: 930px) {
    transform: translateX(-10px);
  }
}

.artwork-user-picture {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 5px;
}

.artwork-thumbnail p {
  font-size: 14px;
  margin-top: 8px;
}

.artwork-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contest-creator-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.artwork-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 250px;
  margin-bottom: 100px;
}

.artwork-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
}

.artwork-user-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  z-index: 1000;
}

@media screen and (min-width: 930px) {
  .artwork-thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 50px;
  }

  .artwork-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 930px) {
  .like-margin-top-contest {
    margin-top: 375px;
  }

  .like-margin-top-contest img {
    margin-top: 375px;
  }
}

.like-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;

  @media screen and (max-width: 930px) {
    width: 25px !important;
    height: 25px !important;
    transform: translateY(5px);
  }
}

.like-container .like-count {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;

  @media screen and (min-width: 930px) {
    padding-left: 25px;
  }
}

.like-flex-container {
  display: flex;
  align-items: center;
}

.like-img-contest {
  margin-right: 5px;
}

@media screen and (max-width: 930px) {
  .like-flex-container {
    flex-direction: row;
  }
}

@media screen and (max-width: 930px) {
  .artwork-thumbnail {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
  }

  .artwork-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .like-container {
    margin-top: -10px;
  }
}

@media screen and (max-width: 361px) {
  .artwork-thumbnail {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
    transform: translateX(-10px);
  }

  .artwork-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

@media screen and ((min-width: 362px) and (max-width: 391px)) {
  .artwork-thumbnail {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
    transform: translateX(-8px);
  }

  .artwork-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

@media screen and ((min-width: 392px) and (max-width: 429px)) {
  .artwork-thumbnail {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
    transform: translateX(-5px);
  }

  .artwork-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

.artwork-user-picture-overlay {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  object-fit: cover;
  z-index: 5;
  margin-left: 10px;
  transform: translateY(-20px);
  border: 4px solid white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.666);
}

@media screen and (max-width: 930px) {
  .artwork-image-container {
    position: relative;
  }

  .artwork-user-picture-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
    z-index: 5;
    border: 4px solid white;
    margin-left: 0px;
  }
}

.see-more-btn,
.see-less-btn {
  font-size: 0.9em !important;
  margin-top: 5px;
  padding: 5px 30px;
  border-radius: 10px;
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.viewfulldescription-btn {
  font-size: 0.7em !important;
  margin: 5px auto;
  padding: 5px 30px;
  border-radius: 10px;
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: block;
  width: fit-content;
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
}

.contest-dates {
  font-size: 1em;
  font-weight: bold;
}

.contest-days-green {
  color: green;
}

.contest-days-orange {
  color: orange;
}

.contest-days-red {
  color: red;
}

.winner-display {
  color: black;
  font-weight: bold;
}

.description-contest {
  color: black;
  padding-bottom: 30px;
  font-weight: 500;
}

.official-contest-icon {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.official-contest-icon-container {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.popup-description-official {
  font-size: 0.5em;
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.artwork-author-popup {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;

  @media screen and (max-width: 930px) {
    font-size: 0.7em;
    padding: 8px;
    width: 120px;
    left: 70px;
    top: -10px;
    transform: translate(0, 0);
  }
}

.trophy-icon-remaining {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  transform: translateY(-2px);
}

.submit-artwork-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
}

.custom-upload-button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;

  &:hover {
    background: $color-4;
  }
}

.submit-artwork-button {
  width: 45%;
  padding: 5px 0;
  border-radius: 10px;
  background: $color-4;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;

  @media screen and (min-width: 930px) {
    width: 20%;  
  }

  &:hover {
    background: $color-4;
  }
}

.upload-error {
  color: red;
}

.icon-button {
  display: flex;
  align-items: center;
}

.icon-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.no-artworks-message {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.new-contest-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.new-contest-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: transparent;
}

.new-contest-form-field {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
  }
}



.new-contest-form-input,
.new-contest-form-textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
}

.new-contest-form-input {
  height: 40px;
}

.new-contest-form-textarea {
  height: 100px;
}

.new-contest-form-error {
  color: red;
  font-size: 14px;
}

.new-contest-form-submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: transparent;
  color: #333;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.new-contest-form-submit-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.new-contest-form-success {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 930px) {
  .new-contest-form-input,
  .new-contest-form-textarea {
    width: 100%;
  }
}

.propose-contest {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: transparent;
  color: #333;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.propose-contest:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.delete-contest-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 10px;
  margin-left: 5px;
}

.delete-contest-icon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  transform: translateY(2px);
}

.delete-contest-button {
  font-size: 1em;
  color: #d9534f;
}


.delete-contest-button:hover {
  opacity: 0.8;
  background: transparent;
}
