body {
  background-image: url('https://i.postimg.cc/Y2b0K5x2/background4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
}

.profil-page {
  margin: 70px auto 0;
  max-width: 1200px;

  .icons {
    top: 55px;
  }

  .log-container {
    margin: 0 auto 0 100px;
    display: grid;
    grid-template-columns: 60% 40%;
  
    @media screen and (max-width: 885px) {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }
  

  .connection-form {
    border: none;
    background: $color-4;
    min-width: 490px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 
      -5px 5px 10px 0px rgba(0, 0, 0, 0.123),
      2px 2px 10px -2px rgba(0, 0, 0, 0.123);

    @media screen and (max-width: 550px) {
      min-width: 200px;
    }

    @media screen and (min-width: 1281px) {
      margin-top: -40px;
      
    }

    @media screen and (max-width: 850px) {
      margin-bottom: 100px;
      margin-top: -50px;
    }
    

    .form-container {
      display: grid;
      grid-template-columns: 30% 70%;

      @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
      }

      ul {
        li {
          cursor: pointer;
          border-radius: 18px;
          padding: 10px 20px;
          transition: 0.2s;

          @media screen and (max-width: 550px) {
            width: 80%;
            margin: 0 auto;
            display: inline-block;
            width: auto;
            margin: 0 10px;
          }
        }
        .active-btn {
          background: $color-1;

          &:hover {
            background: $color-2;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
        #login {
          position: relative;
          @media screen and (max-width: 550px) {
            margin-bottom: 30px;
          }
        }
      }
      form {
        input {
          padding: 14px 20px;
          margin: 0;
          font-size: 0.9rem;
          font-family: $font-2;
          border-radius: 20px;

          &:focus {
            box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
          }
        }
        input[type="submit"] {
          color: black;
        }
        a {
          color: rgb(62, 62, 214);
        }
      }
    }
  }
  h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0 6px;
  }
  .img-container {
    display: grid;
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 68.67vw;
    transform: translate(-40%, -50%);
  
    img {
      height: 400px;
      
      @media screen and (max-width: 1050px) {
        height: 350px;
      }
      @media screen and (max-width: 950px) {
        height: 300px;
      }
      @media screen and (max-width: 885px) {
        display: none;
      }
    }
  }
  
  .update-container {
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    > div {
      background: rgba($color-4, 0.6);
      border-radius: 10px;
      padding: 25px;
      margin: 20px 10px;
      box-shadow: 
        10px 10px 20px rgba(0, 0, 0, 0.072),
        -10px -10px 20px rgba(0, 0, 0, 0.053);

      @media screen and (max-width: 700px) {
        margin: 10px 10px;
      }
    }
    .left-part {
      text-align: center;

      h3 {
        margin-bottom: 12px;
      }

      img {
        height: 180px;
        width: 180px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);
      }
      form {
        position: relative;

        label {
          position: absolute;
          transform: translate(-50%, -50%);
          width: 270px;
          background: $color-3;
          color: $color-2;
          border-radius: 10px;
          display: inline-block;
          padding: 9px 0;
          transition: 0.2s;
          z-index: 10;
          cursor: pointer;
        }
        input[type="file"] {
          position: absolute;
          opacity: 2;
          transform: translateX(3px);
          cursor: pointer;
          margin-top: -5px;
          padding: 5px 20px;

          @media screen and (max-width: 1121px) {
            opacity: 1;
          }
        }
        input[type="submit"] {
          margin-top: 50px;
          border-radius: 10px;
          color: black;

          &:hover {
            transform: translateX(3px);
          }
        }
      }
      p {
        color: red;
        font-family: $font-3;
        margin-top: 6px;
      }
    }
    .right-part {
      text-align: center;
      padding: 20px 40px;
      h3 {
        margin-bottom: 12px;
      }
      p,
      textarea {
        background-color: #efefef;
        min-height: 80px;
        border: 1px solid $color-2;
        border-radius: 10px 10px 0px 10px;
        padding: 10px 20px;
        font-size: 0.9rem;
      }
      textarea {
        width: 100%;
        margin-bottom: -6px;
        font-size: 0.9rem;
      }
      button {
        margin: 5px 0;
        float: right;
      }
      h4 {
        margin: 60px 0 10px;
      }
      h5 {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-1;
        color: black;
        font-family: $font-1;
        margin: 20px 0;
        padding: 12px;
        font-size: 0.9rem;
        border-radius: 10px;
        transition: 0.2s;
        cursor: pointer;
    
        &:hover {
          transform: translateX(2px);
        }
    
        .icon {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }
    }
  }
  .popup-profil-container {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    opacity: 0; // Initialement invisible
    animation: popup 0.3s ease-out forwards; // Animation uniquement avec fade-in
  
    @keyframes popup {
      to {
        opacity: 1; // Transition d'opacité de 0 à 1
        backdrop-filter: blur(2px); // Effet de flou en fond
      }
    }
  
    .modal {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%); // Centrage horizontal
      background: #efefef;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 
        10px 10px 20px rgba(0, 0, 0, 0.237),
        -10px -10px 20px rgba(0, 0, 0, 0.135);
      overflow: hidden; // Contenu caché au-delà des limites
  
      // Limitation de la hauteur et ajout du scroll si nécessaire
      max-height: 80vh; // 80% de la hauteur de la fenêtre
      overflow-y: auto; // Ajoute la barre de scroll verticale si nécessaire
      
  
      // Personnalisation de la barre de scroll
      &::-webkit-scrollbar {
        width: 10px;
      }
  
      &::-webkit-scrollbar-track {
        background: #f1f1f1; // Couleur de fond de la barre
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #7f7f7f; // Couleur de la poignée
        border-radius: 10px; // Bord arrondi pour un effet plus doux
        border: 2px solid $color-2; // Ajoute un peu de bord pour l'effet 3D
      }
  
      &::-webkit-scrollbar-thumb:hover {
        background: darken($color-1, 10%); // Changement de couleur au hover
      }
  
      h3 {
        min-width: 200px;
      }
  
      .cross {
        position: absolute;
        top: 25px;
        right: 25px;
        transition: 0.1s;
        cursor: pointer;
  
        &:hover {
          transform: scale(1.07);
        }
      }
  
      // Styles pour le contenu de la modal (le texte)
      p {
        margin: 15px 0;
        line-height: 1.5;
      }
  
      @media screen and (max-width: 600px) {
        width: 90%; // La modal prend 90% de la largeur de l'écran
        left: 50%;
        transform: translate(-50%);
      }
  
      ul {
        margin: 20px 0 0;
        max-height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
      
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-track {
          background: $color-4;
        }
        &::-webkit-scrollbar-thumb {
          background: $color-1;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      
        li {
          display: grid;
          grid-template-columns: 64px 1fr; // Déclaration déplacée ici
          grid-template-rows: auto auto;   // Déclaration déplacée ici
          grid-row-gap: 10px;              // Déclaration déplacée ici
          align-items: center;
          margin: 10px 0;
      
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
          }
          h4 {
            text-align: left;
            min-width: 210px;
          }
      
          .follow-handler {
            text-align: left;
            grid-column: span 2;
            width: 100%;
            margin-top: 10px;
      
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              width: 100%;
              box-sizing: border-box;
              background: $color-1;
              border: none;
              min-width: unset;
              margin-right: 0;
              padding: 10px;
              box-sizing: border-box;
      
              img.icon {
                width: 20px;
                height: 20px;
                margin-right: 15px;
                box-shadow: none;
                border-radius: 0;
              }
      
              &:hover {
                color: $color-3;
                transform: translateX(3px);
              }
            }
          }
        }
      }      
    }
  }
}  