.card-container {
  max-width: 100%; // Assurer que la carte ne dépasse jamais 100% de la largeur de son conteneur
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  margin: 10px auto;
  padding: 16px;
  padding-bottom: 50px; // Ajouter de l'espace en bas
  padding-top: 50px; // Ajouter de l'espace en haut
  border-bottom: 2px solid #ababab; // Bordure en bas



  @media screen and (min-width: 930px) {
    max-width: 200vh; // Limiter la largeur des cartes sur grands écrans
  }

  @media screen and (max-width: 590px) {
    grid-template-columns: 1fr;
  }


  .fa-spinner {
    position: center;
    top: 40%;
    left: 49%;
    font-size: 1.5rem;
    color: $color-1;
  }

  .card-left {
    img {
      height: 52px;
      width: 52px;
      border-radius: 50%;
      box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
      object-fit: cover;

      @media screen and (max-width: 590px) {
        height: 40px;
        width: 40px;
        margin-left: 0px;
        border-radius: 50px;
      }
    }
    @media screen and (max-width: 590px) {
      position: absolute;
      transform: translate(0px, -5px);
    }
  }

  .card-right {
    @media screen and (max-width: 590px) {
      margin-left: 18px;
    }
    .card-header {
      display: flex;
      flex-direction: column; // Modifier pour empiler les éléments
      justify-content: flex-start; // Aligner les éléments au début
      margin: 2px 0 4px;
      min-height: 35px;

      @media screen and (max-width: 590px) {
        transform: translate(-20px, 0px);
      }

      .publication-date {
        font-size: 0.8rem;
        font-style: italic;
        font-family: $font-1;
        color: #4c4c4c;
        transform: translateY(-8px);

        @media screen and (max-width: 590px) {
          transform: translate(50px, -20px);
        }
      }


      @media screen and (max-width: 590px) {
        display: flex;
        justify-content: space-between;
        margin: 2px 0 4px;
        min-height: 35px;
        margin: 12px 0 14px;
      }

      @media screen and (max-width: 440px) {
        flex-direction: column;
      }

      .pseudo {
        display: flex;

        @media screen and (max-width: 590px) {
          margin-left: 52px;
        }
        @media screen and (max-width: 440px) {
          transform: translateY(-18px);
        }

        span {
          transform: translate(0px, -5px);
          
          @media screen and (max-width: 440px) {
            margin: 0px 0 -10px;
            padding: 0;
          }

          img {
            padding: 5px;
            cursor: pointer;
            transition: 0.15s;
            box-shadow: none;
            height: 28px;
            width: 28px;

            &:hover {
              transform: scale(1.2) translate(0px, 0px);
            }
          }

          .fas {
            color: $color-1;
          }
          .far {
            color: $color-2;
          }
        }
      } 

      span {
        font-family: $font-1;

        @media screen and (max-width: 440px) {
          transform: translate(52px, -20px);
        }
      }
    }
    p {
      margin: 3px 0 9px;
      font-size: 0.9rem;

      @media screen and (max-width: 440px) {
        margin-top: -18px;
      }
    }
    .follow-text {
      display: inline-block;
      margin-left: 0px; // Adjust the space between the icon and the text
      font-size: 0.85rem;
      font-weight: lighter;
      color: $color-3; // Customize the color as needed
      transform: translateY(-8px);
    }
    .update-post {
      textarea {
        font-size: 1.3rem;
        border: 1px solid $color-2;
        padding: 10px;
        border-radius: 20px 20px 6px 20px;
      }
      .button-container {
        .btn {
          background: $color-2;
          width: 240px;
          transform: translateY(-3px);

          &:hover {
            background: $color-1;
            width: 250px;
            letter-spacing: 1px;
          }
        }
        .btn-validate {
          text-align: center !important;
        }
      }

      .button-container-validate {
        display: flex; /* Active Flexbox */
        justify-content: center; /* Centre horizontalement les éléments */
        margin-top: -10px;
        
        .btn-validate {
          text-align: center !important;
          border-radius: 5px !important;
        }
      }
    }
    .card-pic {
      width: 100%;
      height: auto; // Assurez-vous que ça reste auto pour les petits écrans
      cursor: pointer;
      margin-top: 12px;
      transform: translateX(-10px);
    
      @media screen and (min-width: 930px) {
        height: 75vh; // Hauteur de 70% de l'écran
        width: auto; // Laisse la largeur auto pour maintenir le ratio
        margin: 0 auto; // Centrage horizontal
        display: block; // Assure que l'image est traitée comme un bloc
        padding-bottom: 10px;
      }
    
      @media screen and (max-width: 930px) {
        width: 100%;
        margin-top: 12px;
      }
    
      // Ajout pour téléphone (par exemple, moins de 590px)
      @media screen and (max-width: 590px) {
        width: 120%; // 110% de la largeur du conteneur
        transform: translateX(-11%); // Décaler de 5% pour centrer l'image sur l'écran
        margin: 0; // Supprimer les marges pour aligner avec le bord de l'écran
      }
    }
    
    

    .description {
      margin-top: 15px;
      font-size: 0.9rem;
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      .comment-icon,
        .like-container {
          margin-right: 15px;
        }
        .share-icon {
          margin-right: 20px;
        }

      @media screen and (min-width: 930px) {
        justify-content: flex-end;
        align-items: center;

        
      }
    }

    p {
      margin: 3px 0 9px;
      font-size: 0.9rem;
    }

    .follow-text {
      display: inline-block;
      margin-left: 0px;
      font-size: 0.85rem;
      font-weight: bold;
      color: $color-3;
      transform: translateY(-8px);
    }

    .update-post {
      textarea {
        font-size: 1.3rem;
        border: 1px solid $color-2;
        padding: 10px;
        border-radius: 20px 20px 6px 20px;
      }

      .button-container {
        .btn {
          background: $color-2;
          width: 240px;
          transform: translateY(-3px);

          &:hover {
            background: $color-1;
            width: 250px;
            letter-spacing: 1px;
          }
        }
      }
    }

    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0 15px;
      

      img {
        height: 22px;
        width: 22px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }

      .comment-icon,
      .like-container {
        display: flex;
        align-items: center;
        margin-right: 15px;

        span {
          margin-left: 10px;
          font-size: 1.02rem;
          position: relative;
          transform: translate(0px, 2px);
        }
      }
    }

    .comment-container.client {
      display: grid;
      grid-template-columns: 50px 1fr;
      border: 1px solid $color-2;
      padding: 15px;
      margin: 5px 0;
      border-radius: 20px 20px 20px 6px;
      background-color: darken($color-4, 10%); /* Fond légèrement plus foncé */
    }
    
    .comment-container.client img {
      height: 40px;
      width: 40px;
      border-radius: 50px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.192);
      object-fit: cover;
    
      @media screen and (max-width: 930px) {
        height: 37px;
        width: 37px;
      }
    }
    

    .comment-container {
      display: grid;
      grid-template-columns: 50px 1fr;
      border-top: 1px solid $color-2;
      padding: 15px;
      margin: 5px 0;
    
      img {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.192);
        object-fit: cover;
        transform: translateY(5px);
    
        @media screen and (max-width: 930px) {
          height: 37px;
          width: 37px;
        }
      }
    
      .comment-header {
        display: flex;
        justify-content: space-between;
    
        @media screen and (max-width: 930px) {
          flex-direction: column;
        }
    
        .pseudo {
          display: flex;
    
          h3 {
            font-family: $font-1;
            font-size: 1em !important;
          }
    
          span {
            transform: translate(6px, 4px);
            cursor: pointer;
    
            img {
              box-shadow: none;
              height: 15px;
              width: 15px;
              transform: translateY(-3px);
            }
          }
        }
    
        span {
          font-size: 0.8rem;
          font-family: $font-1;
          color: #4c4c4c;
    
          @media screen and (max-width: 930px) {
            font-size: 0.7em;
          }
    
          @media screen and (min-width: 930px) {
            transform: translateX(-10px);
          }
        }
      }
    
      p {
        margin-top: 8px;
      }
    
      .edit-comment {
        color: $color-3;
      
        img {
          float: right;
          margin-left: 10px;
          cursor: pointer;
          transition: 0.15s;
          box-shadow: none;
          height: 20px;
          width: 20px;
      
          &:hover {
            transform: scale(1.1);
          }
        }
      
        .edit-comment-form {
          margin-top: 14px;
          display: flex;
          flex-direction: column; // S'assure que le bouton soit en dessous du champ texte
          align-items: center;
      
          input[type="text"] {
            width: 100%;
            background: #dfdfdf;
            color: black;
            border-radius: 10px;
            border: 1px solid #8e8e8e;
            padding: 20px;
            font-size: 1rem;
      
            &:focus {
              box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
            }
          }
      
          .button-container {
            display: flex;
            justify-content: space-between; // Ajoute de l'espace entre les boutons
            width: 100%; // Assurez-vous que le conteneur occupe toute la largeur disponible
            margin-top: 10px; // Ajustez si nécessaire
      
            input[type="submit"], // Pour le bouton "Change"
            .delete-button { // Pour le bouton "Delete"
              width: 45%; // Chaque bouton occupera 40% de la largeur du conteneur
              padding: 5px 0; // Ajustez le padding pour les rendre plus petits
              border-radius: 10px;
              background: $color-4;
              color: rgb(0, 0, 0);
              font-size: 1rem;
              border: none;
              transition: 0.2s;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
              white-space: nowrap; // Empêche le texte de passer à la ligne
      
              &:hover {
                background: $color-4; // Changez la couleur au survol si nécessaire
              }
            }
          }
    
        }
      }      
    }
    

    .comment-form {
      margin-top: 6px;
      display: flex;
      flex-direction: column; // S'assure que le bouton soit en dessous du champ texte
      align-items: center; // Centre les éléments horizontalement
    
      input[type="text"] {
        width: 100%;
        background: #dfdfdf;
        color: black;
        border-radius: 10px;
        border: 1px solid #8e8e8e;
        padding: 20px;
        font-size: 1rem;
    
        &:focus {
          box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
        }
      }
    
      input[type="submit"] {
        margin-top: 5px;
        padding: 5px 30px;
        border-radius: 10px;
        background: $color-4;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        border: none;
        transition: 0.2s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      }
    }    
  }
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  margin: 0;  /* Assurez-vous qu'il n'y a pas de marge */
  padding: 0; /* Assurez-vous qu'il n'y a pas de padding */
}

.fullscreen-image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}


.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; /* Centre horizontalement */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s ease;
  z-index: 1000;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.user-artworks {
  max-width: 80%;
  margin: 0 auto; /* Centre horizontalement */
}

@media (max-width: 768px) { /* Pour les tablettes et téléphones */
  .user-artworks {
      max-width: 100%; /* 100% de largeur sur petits écrans */
  }
}

.edit-button {
  display: flex;
  justify-content: left; /* Centrer le bouton horizontalement */
  margin-top: 10px; /* Espacement au-dessus du bouton */
  margin-bottom: 10px;
}

.edit-icon, .delete-icon {
  width: 25px; /* Largeur de l'image */
  height: 25px; /* Hauteur de l'image */
}

.update-textarea {
  width: 100%; /* Prend 80% de la largeur de son conteneur */
  font-size: 1em !important; /* Taille du texte à l'intérieur */
  margin: 10px auto; /* Centrer le textarea */
  display: block; /* Permet d'utiliser margin auto pour centrer */
  border-radius: 5px !important;
}

.text-edit-btn, .text-delete-btn {
  transform: translateX(7px);
  transform: translateY(3px);
}

.btn-validate {
  justify-content: center !important;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
