.left-nav-container {
  position: relative;

  .icons {
    position: fixed;
    z-index: 10;
    padding-top: 70px;
    gap: 20px;

    @media screen and (min-width: 1020px) and (max-width: 1281px) {
      margin-left: -8px;
    }

    // Styles pour les grands écrans (ordinateur)
    @media screen and (min-width: 1025px) {
      top: 20vh;
      left: 5vh;
      bottom: 10vh;
      height: 70vh; // Utiliser toute la hauteur de l'écran
      display: flex;
      flex-direction: column; // Colonne pour les icônes
      justify-content: space-between; // Espacement égal entre les icônes
      align-items: center; // Centrer horizontalement
      padding: 0;
    }

    // Styles pour les petits écrans (tablette et téléphone)
    @media screen and (max-width: 1024px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between; // Espace égal entre les icônes
      background-color: #fff; // Couleur de fond de la navbar
      padding: 10px 0;
      box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1); // Ombre vers le haut
    }

    .icons-bis {
      position: absolute;

      // Styles pour les grands écrans (ordinateur)
      @media screen and (min-width: 1025px) {
        position: static; // Réinitialiser la position absolue
        display: flex;
        flex-direction: column; // Colonne pour les icônes
        justify-content: space-around; // Distribution verticale égale
        width: 100%;
        height: 100%; // Assurer que les icônes occupent toute la hauteur
      }

      // Styles pour les petits écrans (tablette et téléphone)
      @media screen and (max-width: 1024px) {
        position: static;
        display: flex;
        justify-content: space-around; // Distribution égale des icônes
        width: 100%; // Prend toute la largeur de la barre
      }

      a {
        transition: 0.2s ease; // Applique la transition fluide pour les transformations
        display: inline-block;
        margin-bottom: 70px;
      
        // Styles pour les grands écrans (ordinateur)
        @media screen and (min-width: 1025px) {
          margin-bottom: 0;
          flex: none;
        }
      
        // Styles pour les petits écrans (tablette et téléphone)
        @media screen and (max-width: 1024px) {
          margin-bottom: 0; // Supprime le margin inférieur
          flex: 1; // Chaque icône prend une part égale
          display: flex;
          justify-content: center; // Centre chaque icône
        }
      
        &:before {
          transition: 0.15s ease;
          transform: scale(0);
          transform-origin: center;
          z-index: -10;
          content: "";
          height: 45px;
          width: 45px;
          position: absolute;
          background: $color-4;
          border-radius: 50px;
      
          // Désactiver cet effet sur mobile
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
      
        &:hover {
          transform: translateX(4px); // Décale de 10px vers la droite au survol
        }
      
        img {
          height: 25px;
          width: 25px;
      
          // Réduction pour mobile
          @media screen and (max-width: 1024px) {
            height: 22px;
            width: 22px;
          }
        }
      }
    }
  }
}
